/* Overall */
html,
body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: var(--main-font-family);
  scroll-behavior: smooth;
}

:root {
  --main-bg-color: #fdfbff;
  --main-text-color: rgb(28, 28, 28);
  --secondary-text-color: #5b3864;
  --main-font-family: Poppins, sans-serif;
  --primary-color: #6b3f88;
  --primary-shade-light: #eddcf1;
  --primary-shade-dark: #422449;
  --primary-card-color: rgb(233, 223, 235);
  --secondary-card-color: rgb(211, 198, 213);
}
/* Typography */

header-nav {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

.title {
  font-family: serif;
}
h1 {
  font-size: 40px;
}
h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* General styles */

.main {
  margin: 20px 0px;
}

section {
  margin: 40px 0px;
}
header-nav {
  position: sticky;
  top: 0;
  background-color: var(--main-bg-color);
  z-index: 999;
}

.body-content h1 {
  text-align: center;
  color: var(--secondary-text-color);
}

.about {
  display: flex;
  flex-direction: column;
  padding: 0px 80px;
  text-align: center;
}

img {
  max-width: 80%;
}

.body-content {
  margin: 60px 0px;
  padding: 0px 80px;
}

.landing {
  position: relative;
  text-align: center;
}

.landing-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.2;
}

.landing-text {
  position: absolute;
  text-align: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  font-size: 22px;
  font-family: serif;
  @media screen and (min-width: 1000px) {
    font-size: 38px;
  }
}

.card {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin: 10px 10px;
}

.card img {
  overflow: hidden;
  object-fit: cover;
  height: auto;
}

.card-expanded {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-shade-light);
  height: auto;
  text-align: center;
}

#img-counseling {
  background-image: url(../images/college-purple.jpg);
}

#img-advising {
  background-image: url(../images/academic-purple.jpg);
}

#services .card {
  overflow: hidden;
  position: relative;
  height: 400px;
}

#img-counseling,
#img-advising {
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 100%;
  background-position: 50%;
}

#services h3 {
  color: var(--main-bg-color);
  z-index: 1;
}

.card-expanded p {
  width: 50%;
}

.content {
  text-align: center;
  margin-top: 40px;
}

.content a {
  text-decoration: none;
}
.txt-img {
  justify-items: center;
  align-items: center;
  text-align: center;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.txt-img img {
  height: 400px;
  width: 300px;
  object-fit: cover;
  overflow: hidden;
}

.txt-img p {
  text-align: center;
  margin: 20px 0px;
}

.gradient-photo {
  overflow: hidden;
  height: 400px;
  background-image: url(../images/photo-gradient.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  font-weight: bold;
  font-size: 20px;
}

.gradient-photo p {
  width: 40%;
  text-align: right;
}

.mission {
  width: 80%;
  text-align: center;
}
/* nav specific styles */
header-nav {
  display: flex;
  justify-content: space-between;
  padding: 25px 40px;
  text-align: center;
  color: var(--primary-color);
}

nav a {
  text-decoration: none;
  color: var(--primary-color);
}

nav a:hover {
  color: var(--primary-shade-dark);
}

nav a.active-link {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  color: var(--primary-shade-dark);
}

/* form specific styles */
::placeholder {
  color: var(--primary-shade-dark);
}

input,
textarea {
  padding: 8px 10px;
  margin: 4px 2px;
  border: 2px solid var(--primary-color);
  resize: none;
  font-size: 16px;
  background-color: transparent;
  color: var(--main-text-color);
  font-family: poppins;
}

#form-submitted {
  display: none;
  font-size: 22px;
}

button {
  cursor: pointer;
  padding: 8px 10px;
  margin-bottom: 30px;
  width: 100%;
  border: 0px;
  border-radius: 4px;
  background-color: var(--primary-shade-dark);
  color: var(--main-bg-color);
  font-family: Poppins;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* footer-large design */

.website-info {
  flex: 2;
}

.contact-info {
  display: flex;
  margin-bottom: 30px;
}

.contact-info p {
  margin: 20px 40px;
}

.user-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

form[name="footer"] .user-contact {
  align-items: flex-start;
}

footer-large {
  background-color: var(--primary-shade-light);
  display: flex;
  padding: 15px;
  color: var(--main-text-color);
}

/*Animations*/

@keyframes img-overlay-ac {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
    background-image: url(../images/academic-white.jpg);
  }
}

@keyframes img-overlay-co {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
    background-image: url(../images/college-white.jpg);
  }
}

@keyframes text-color-overlay {
  100% {
    color: var(--secondary-text-color);
  }
}

#img-advising:hover {
  animation: img-overlay-ac 0.5s ease-in-out forwards;
  cursor: pointer;
}

#img-counseling:hover {
  animation: img-overlay-co 0.5s ease-in-out forwards;
  cursor: pointer;
}

#services .card:hover h3 {
  animation: text-color-overlay 0.3s forwards;
}

.faq {
  display: flex;
  flex-direction: column;
}
/**
panel is initially hidden and has a transition to go to max height
*/
.panel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel p {
  padding-bottom: 20px;
}

.accordion {
  background-color: var(--primary-card-color);
  color: #444;
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.active-faq,
.accordion:hover {
  background-color: var(--secondary-card-color);
}
form[name="main-contact"] {
  margin-top: 40px;
  display: flex;
  flex: 2;
  align-items: center;
  flex-direction: column;
  padding: 0px 30px;
}

form[name="main-contact"] input,
form[name="main-contact"] textarea,
form[name="main-contact"] button,
.card-expanded button {
  width: 50%;
  min-width: 300px;
}

form[name="footer"] input,
form[name="footer"] textarea,
form[name="footer"] button {
  box-sizing: border-box;
  width: 300px;
}
form[name="frm-msg"] {
  height: 100px;
}

.form button {
  height: 50px;
  margin-top: 30px;
}
/* extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
  header-nav {
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 0px 50px;
    font-size: 15px;
  }
  .body-content {
    padding: 0px 40px;
  }
  .nav-list {
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 60px;
    overflow-y: hidden;
    z-index: 999;
    transition: 0.5s;
    width: 0;
  }

  #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 999;
  }

  nav a {
    margin: 15px 5px;
  }

  header-nav a.icon {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    margin-top: 10px;
    margin-right: 20px;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .landing {
    width: 100%;
  }
  .content .card {
    display: block;
  }
  #services .card {
    height: 300px;
    margin: 0px;
  }

  h1 {
    font-size: 28px;
    margin: 20px 20px;
    margin-top: 40px;
    text-align: center;
  }

  #services h3 {
    position: relative;
    font-size: 18px;
    top: 50%;
  }
  .gradient-photo {
    height: 300px;
    font-size: 16px;
    align-items: flex-start;
  }

  .gradient-photo p {
    width: 60%;
    text-align: right;
  }

  footer-large {
    flex-direction: column;
    align-content: center;
  }

  .contact-form {
    margin-bottom: 50px;
    align-items: center;
    align-self: center;
  }
  .website-info,
  .website-info p {
    text-align: center;
  }

  .contact-info {
    justify-content: center;
  }
  .accordion {
    font-size: 16px;
  }
}

/* small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {
  /* grid styles for card layouts */
  .content#team,
  .content#services {
    display: grid;
    grid-template-rows: 1fr 6fr;
    text-align: center;
    margin-top: 80px;
  }

  #team h2,
  #resources h2 {
    grid-column: 1/4;
    text-align: center;
  }

  #services h2 {
    grid-column: 1/3;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header-nav {
    flex-direction: column;
    align-items: center;
  }

  header-nav .icon {
    display: none;
  }

  .nav-list {
    display: flex;
    padding: 0px 5px;
  }
  nav a {
    margin: 0px 18px;
  }

  /*services image styles*/
  #services .card {
    position: relative;
    overflow: hidden;
  }

  .card#card-1 {
    grid-column: 1/2;
  }

  .card#card-2 {
    grid-column: 2/3;
  }

  #img-counseling,
  #img-advising {
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: 100%;
  }

  .txt-img {
    justify-items: center;
    align-items: center;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .txt-img img {
    height: 300px;
    grid-column: 1/2;
    object-fit: cover;
  }

  .txt-img p {
    text-align: center;
    margin: 0px 20px;
    grid-column: 2/3;
  }

  .overlay-txt {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-shade-light);
    color: var(--primary-shade-dark);
    height: 200px;
    font-size: 38px;
    font-family: serif;
    text-align: center;
  }

  footer-large {
    flex-direction: column;
    align-items: center;
  }
  .website-info {
    text-align: center;
  }
  .contact-info {
    justify-content: center;
  }
}

/* 
  medium size laptops and screens
  */

@media screen and (min-width: 1000px) {
  #more {
    text-align: center;
  }
  /* general styling */
  .grid-bios {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .content {
    display: grid;
    grid-template-rows: 1fr 6fr;
    text-align: center;
    margin-top: 80px;
  }

  #page-about img {
    border-radius: 0%;
  }

  header-nav.title {
    flex: 2;
  }
  .content #team,
  .content #resources {
    grid-template-columns: 1fr 1fr 1fr;
  }
  header-nav nav {
    flex: 4;
  }

  header-nav .icon {
    display: none;
  }

  .nav-list {
    justify-content: flex-end;
    align-content: center;
  }

  footer-large {
    justify-content: space-between;
    flex-direction: row;
  }

  .website-info {
    text-align: left;
    padding: 15px;
  }

  .contact-info {
    justify-content: flex-start;
  }

  .contact-info p {
    margin: 40px 0px;
    margin-right: 20px;
    padding: 0px;
  }

  .contact-page {
    display: flex;
    margin-top: 100px;
  }

  #contact section {
    padding-left: 30px;
    flex: 1;
    text-align: center;
  }
}
